$header-font-family: "Young serif", sans-serif;
$main-font-family: "Outfit", sans-serif;
$black-color: #312E2C;
$stone-color: #5F564D;
$dark-rose-color: #7A284E;
$light-rose-color: #FFF7FB;
$brown-color: #854632;
