@import "resetform";
@import "variables";

body {
    font-family: $main-font-family;
    background-color: $body-background-color;
}

h1, h2 {
    font-family: $header-font-family;
}

li {
    color: $stone-color;
    margin-bottom: 1em;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    background-color: $white-color;

    header {
        img {
            width: 100%;
        }
        h1 {
            font-size: 2.25rem;
            color: $black-color;
            margin-bottom: 0.7em;
        }
        p {
            font-size: 1rem;
            color: $stone-color;
        }
    }

    .recipe-details-container {
        padding: 2em;
    }

    .preparation-container {
        background-color: $light-rose-color;
        margin: 0 2em 2em;
        padding: 1.5em;

        h2 {
            font-weight: bold;
            font-size: 1.25rem;
            color: $dark-rose-color;
            margin-bottom: .825em;
        }
    }
}
